MYSQL_DATABASE=stat_example
MYSQL_ROOT_PASSWORD=root_pass
DB_URL=jdbc:mysql://localhost:3307/stat_example?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=stat_user
DB_PASSWORD=stat_pass
SAMPLE_DATA_ENABLED=true
SAMPLE_DATA_SIZE=3200
